{% extends 'base.html' %}
{% load static %}
{% load i18n %}

{% block css %}
<link href="{% static 'css/common/common.css' %}" rel="stylesheet">
<link href="{% static 'css/artists/details.css' %}" rel="stylesheet">
{% endblock %}

{% block content %}
{% if error_message %}
    <h2> ERROR: {{ error_message }} </h2>
{% else %}
    <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="x_panel">
                <div class="x_title">
                    <a href={{artist.pinterest_page_url}} target="_blank">
                        <h2>{{artist.serial_number}} {{artist.name}}</h2>
                    </a>
                    <div class="clearfix"></div>
                </div>

                {% for url in artist.artstation_url %}
                    <div class="artist-url">
                        <img class="icon-img" src="../media/artstation.webp"/>
                        &emsp;
                        <a href="{{url}}" target="_blank">{{url}}</a>
                        <br/>
                    </div>
                {% endfor %}
                {% for url in artist.behance_url %}
                    <div class="artist-url">
                        <img class="icon-img" src="../media/behance.png"/>
                        &emsp;
                        <a href="{{url}}" target="_blank">{{url}}</a>
                        <br/>
                    </div>
                {% endfor %}
                {% for url in artist.deviantart_url %}
                    <div class="artist-url">
                        <img class="icon-img" src="../media/deviantart.png"/>
                        &emsp;
                        <a href="{{url}}" target="_blank">{{url}}</a>
                        <br/>
                    </div>
                {% endfor %}
                {% for url in artist.facebook_url %}
                    <div class="artist-url">
                        <img class="icon-img" src="../media/facebook.png"/>
                        &emsp;
                        <a href="{{url}}" target="_blank">{{url}}</a>
                        <br/>
                    </div>
                {% endfor %}
                {% for url in artist.instagram_url %}
                    <div class="artist-url">
                        <img class="icon-img" src="../media/instagram.png"/>
                        &emsp;
                        <a href="{{url}}" target="_blank">{{url}}</a>
                        <br/>
                    </div>
                {% endfor %}
                {% for url in artist.pinterest_url %}
                    <div class="artist-url">
                        <img class="icon-img" src="../media/pinterest.png"/>
                        &emsp;
                        <a href="{{url}}" target="_blank">{{url}}</a>
                        <br/>
                    </div>
                {% endfor %}
                {% for url in artist.pixiv_url %}
                    <div class="artist-url">
                        <img class="icon-img" src="../media/pixiv.png"/>
                        &emsp;
                        <a href="{{url}}" target="_blank">{{url}}</a>
                        <br/>
                    </div>
                {% endfor %}
                {% for url in artist.tumblr_url %}
                    <div class="artist-url">
                        <img class="icon-img" src="../media/tumblr.png"/>
                        &emsp;
                        <a href="{{url}}" target="_blank">{{url}}</a>
                        <br/>
                    </div>
                {% endfor %}
                {% for url in artist.twitter_url %}
                    <div class="artist-url">
                        <img class="icon-img" src="../media/twitter.png"/>
                        &emsp;
                        <a href="{{url}}" target="_blank">{{url}}</a>
                        <br/>
                    </div>
                {% endfor %}
                {% for url in artist.weibo_url %}
                    <div class="artist-url">
                        <img class="icon-img" src="../media/weibo.png"/>
                        &emsp;
                        <a href="{{url}}" target="_blank">{{url}}</a>
                        <br/>
                    </div>
                {% endfor %}
                {% for url in artist.other_url %}
                    <div class="artist-url">
                        <img class="icon-img" src="../media/personal.png"/>
                        &emsp;
                        <a href="{{url}}" target="_blank">{{url}}</a>
                        <br/>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="x_panel">
                {% for url in artist.artstation_url %}
                    <div class="artist-url">
                        <img class="icon-img" src="../media/artstation.webp"/>
                        &emsp;
                        <a href="{{url}}" target="_blank">{{url}}</a>
                        <br/>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
{% endif %}

{% endblock %}

{% block js %}
{{ block.super }}
<script src="{% static 'js/serial_numbers.js' %}"></script>
{% endblock %}
