{% extends 'base.html' %}
{% load static %}
{% load i18n %}

{% block css %}
<link href="{% static 'css/common/common.css' %}" rel="stylesheet">
<link href="{% static 'css/tags/details.css' %}" rel="stylesheet">
{% endblock %}

{% block content %}
{% if error_message %}
    <h2> ERROR: {{ error_message }} </h2>
{% else %}
    <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="x_panel">
            <div class="x_title">
                <h2 class="tag-header" style="color:white;background-color:{{tag.color}};">
                    {{tag.category.name}} / {{tag.name}}
                </h2>
                <div class="clearfix"></div>
            </div>

            <div class="custom-table">
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th style="width:10%">Artist</th>
                            <th style="width:5%">Board Name</th>
                            <th>Tags</th>
                        </tr>
                    </thead>
                    <tbody id="board-table-content">
                    {% for board in boards %}
                        <tr>
                            <th>
                                <a href="/artists/{{board.artist.serial_number}}">
                                {% if board.artist.name%}
                                    {{board.artist.name}}
                                {% else %}
                                    <th>-</th>
                                {% endif %}
                                </a>
                                &emsp;
                                <a href={{board.artist.pinterest_page_url}} target="_blank">
                                    <img class="icon-img" src="../media/pinterest.png"/>
                                </a>
                            </th>
                            <th>{{board.name}}</th>
                            <th>
                                {% for tag in board.tags %}
                                <a href=/tags/{{tag.id}}>
                                    <label class="tag-label" style="background-color:{{tag.color}};">
                                    {{tag.name}}
                                    </label>
                                </a>
                                {% endfor %}
                            </th>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>

        </div>
    </div>
{% endif %}

{% endblock %}

{% block js %}
{{ block.super }}
<script src="{% static 'js/serial_numbers.js' %}"></script>
{% endblock %}
